.container-fluid
  %h1.h3.mt-5.text-center
    Спланируйте свой праздник за пару минут
    %hr.w-50
    .lead
      Используйте готовый план мероприятия или создайте свой

  .card-columns.mt-5.align-items-center
    .card
      .card-body
        .h5.card-title
          Детский День рождения
        .h6.card-subtitle.text-muted
          от 5000 руб.

      .card-footer
        = link_to 'Посмотреть план', '#', class: 'btn btn-primary btn-sm'
    .card
      .card-body
        .h5.card-title
          Детский День рождения
        .h6.card-subtitle.text-muted
          от 5000 руб.

      .card-footer
        = link_to 'Посмотреть план', '#', class: 'btn btn-primary btn-sm'
    .card
      .card-body
        .h5.card-title
          Детский День рождения
        .h6.card-subtitle.text-muted
          от 5000 руб.

      .card-footer
        = link_to 'Посмотреть план', '#', class: 'btn btn-primary btn-sm'
    .card
      .card-body
        .h5.card-title
          Детский День рождения
        .h6.card-subtitle.text-muted
          от 5000 руб.

      .card-footer
        = link_to 'Посмотреть план', '#', class: 'btn btn-primary btn-sm'
    .card
      .card-body
        .h5.card-title
          Детский День рождения
        .h6.card-subtitle.text-muted
          от 5000 руб.

      .card-footer
        = link_to 'Посмотреть план', '#', class: 'btn btn-primary btn-sm'
    .card.border-0
      .card-body.text-center.text-muted
        = link_to '#' do
          %i.fas.fa-plus.fa-4x
          .small
            Создать свой план